.footer__left{
    flex: 0.3;
    display: flex;
    align-items: center;
    color: white;
    max-width: 300px;
    overflow: hidden;
}

.footer__left > img{
    margin-right: 20px;
    height: 60px;
    width: 60px;
    object-fit: contain;
}

.footer__left > div > h4{
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
}

.footer__left > div > p{
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.footer__center{
    flex: 0.4;
    color: white;
    padding: 0 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}

.footer__right{
    flex: 0.3;
    
}

.footer__right__container{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.footer__green{
    color: #1ed15e;
}

.footer__green,
.footer__icon{
    transition: all 0.2s ease-in-out;
}

.footer__green:hover,
.footer__icon:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(1.2) !important;
}

.footer__green:active,
.footer__icon:active{
    transition: all 0.2s ease-in-out;
    transform: scale(1) !important;
}